
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    border-radius: 5px; 
    padding: 10px 20px;
    box-shadow: 1px 1px 15px rgba(2, 2, 2, 2); 
  }
  
 
  .navLink {
    text-decoration: none;
    color: #fff; 
    margin-right: 20px; 
  }
  
  
  .navButton {
    background-color:#6584a5;
    border-radius: 5px; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  
  .navButton:hover {
    background-color: #185893; 
  }
  